export PROJECT_NAME="django-tree-menus"
export SECRET_KEY="secret key"
export DB_NAME="django_tree_menus"
export DB_HOST="localhost"
export DB_PORT=4432
export DB_USER="postgres"
export DB_PASSWORD="12345678"
