version: '3.8'

volumes:
     django_tree_menus_media:
     django_tree_menus_static:

services:
  app: &app
    build:
      context: .
    container_name: ${PROJECT_NAME}-stage-app
    restart: always
    command: sh /code/run.sh app
    volumes:
      - .:/code
       - django_tree_menus_media:/code/media
       - django_tree_menus_media:/code/static
    env_file:
      - ./.env
    # expose:
    #   - 8000
    ports:
      - 8000:8000
    networks:
      - django_tree_menus

    nginx:
      build:
       context: ./nginx
      container_name: ${PROJECT_NAME}-stage-nginx
      restart: always
      volumes:
       - django_tree_menus_media:/code/media
       - django_tree_menus_static:/code/static
      ports:
       - 80:80
       - 443:443
      depends_on:
       - app
      networks:
       - django_tree_menus


networks:
  django_tree_menus:
    driver: bridge